---
import Badge from "../components/Badge.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Nico Diaz">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10"
			>
				Hey, soy Nico <a
					href="https://www.linkedin.com/in/nico-diaz-andreu-19b339279/"
					target="_blank"
					rel="noopener"
					class="flex items-center justify-center"
					><Badge>Disponible para trabajar</Badge></a
				>
			</h1>
			<h2 class="text-2xl opacity-80">
				<span class="text-purple-200/90">
					+3 años de experiencia en Desarrollo Web.</span
				>
				<span class="text-red-100/90"> De Barcelona, España 🇪🇸.</span>
				<span class="opacity-85">
					Especializado en crear aplicaciones web únicas con
					tecnologías de vanguardia.
				</span>
			</h2>

			<nav>
				<ul class="flex gap-x-4 mt-8">
					<li>
						<SocialPill
							href="https://www.linkedin.com/in/nico-diaz-andreu-19b339279/"
						>
							<LinkedInIcon class="w-6 h-6" />
							LinkedIn
						</SocialPill>
					</li>
					<li>
						<SocialPill href="https://github.com/Peleton-011">
							<GitHubIcon class="w-6 h-6" />
							GitHub
						</SocialPill>
					</li>
				</ul>
			</nav>
		</section>
	</main>
</Layout>
