---
import Badge from "../components/Badge.astro";
import Experience from "../components/experience/Experience.astro";
import BriefcaseIcon from "../components/icons/BriefcaseIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout
	title="Porfolio de Nico - Desarrollador y Programador Web"
	description="Contrata a Nico para crear tu aplicaci칩n web o m칩vil. Desarrollador Web y Programador en Barcelona. Especializado en crear aplicaciones web 칰nicas."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24 flex flex-row justify-between items-center lg:w-[1120px]">
			<div>
				<h1
					class="text-white text-3xl mx:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
				>
					Hey, soy Nico <a
						href="https://www.linkedin.com/in/nico-diaz-andreu-19b339279/"
						target="_blank"
						rel="noopener"
						class="flex items-center justify-center"
						><Badge>Disponible para trabajar</Badge></a
					>
				</h1>
				<h2
					class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]"
				>
					<span class="text-purple-200/90">
						+3 a침os de experiencia en Desarrollo Web.</span
					>
					<span class="text-red-100/90">
						De Barcelona, Espa침a 游쀯릖.</span
					>
					<span class="opacity-85">
						Especializado en crear aplicaciones web 칰nicas con
						tecnolog칤as de vanguardia.
					</span>
				</h2>

				<nav>
					<ul class="flex gap-4 mt-8 flex-wrap">
						<li>
							<SocialPill
								href="https://www.linkedin.com/in/nico-diaz-andreu-19b339279/"
							>
								<LinkedInIcon class="size-5 md:size-6" />
								LinkedIn
							</SocialPill>
						</li>
						<li>
							<SocialPill href="https://github.com/Peleton-011">
								<GitHubIcon class="size-5 md:size-6" />
								GitHub
							</SocialPill>
						</li>
						<li>
							<SocialPill href="mailto:nicodiazan@gmail.com">
								<MailIcon class="size-5 md:size-6" />
								nicodiazan@gmail.com
							</SocialPill>
						</li>
					</ul>
				</nav>
			</div>
			<img
				class="rounded-full size-60"
				src="https://toppng.com/uploads/preview/stock-person-png-stock-photo-man-11563049686zqeb9zmqjd.png"
				alt="Nico foto"
			/>
		</SectionContainer>
		<SectionContainer id="experience" title="Experiencia laboral">
			<BriefcaseIcon class="size-7" slot={"icon"} />
			<Experience />
		</SectionContainer>
		<SectionContainer id="projects" title="Proyectos">
			<CodeIcon class="size-7" slot={"icon"} />
			<Projects />
		</SectionContainer>
	</main>
</Layout>
