<article
	class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
	<div
		class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
	>
		<p>
			Me llamo Nico pero mis amigos me llaman Pingore. Empecé en la
			programación con un ordenatione, tenía 10 años. Actualmente estoy <strong
				>rascándome los mocos</strong
			>.
		</p>
		<p>
			Algunos de mis éxitos incluyen <strong
				>colaborar con tu mama para crear tu dignidad</strong
			>. Aunque hoy está desaparecida fue un gran avance en el mundo del
			desarrollo web.
		</p>
		<p>
			Como creador de cacas, <strong
				>cuento con el vater más grande del mundo en la
				categoría de <em class="italic"
					>Pro &amp; Caguing</em
				> en Twitch</strong
			>. Mi objetivo es mejorar la caca de la gente y
			el acceso a caca de calidad.
		</p>
	</div>
	<img
		width="200"
		height="200"
		src="/me.jpeg"
		alt="Nico Diaz"
		class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
		style="object-position: 50% 50%"
	/>
</article>
