---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import TextSection from "./TextSection.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface subsection {
	type: string;
	text: string;
}
---

<div class="textsection-container">
<article
	class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
	<div class="textsection-container"
	>
		{
			(t("about") as unknown as subsection[][]).map((section) => (
                <TextSection section={section} />
			))
		}

	</div>
	<img
		width="200"
		height="200"
		src="/me.jpeg"
		alt="Nico Diaz"
		class={`
        order-1 object-cover w-64 h-full p-1 md:order-2 
        rotate-3 
        hover:-rotate-2 hover:scale-105 hover:-translate-y-3
        transition duration-200
        lg:p-2 lg:w-64 
        aspect-square rounded-2xl 
        bg-black/20 dark:bg-yellow-500/5 
        ring-1 ring-black/70 dark:ring-white/20
        `}
		style="object-position: 50% 50%"
	/>
</article>
<TextSection section={t("about.goodbye") as unknown as subsection[]} />
</div>

