<a
	href={Astro.props.href}
	target="_blank"
	rel="noopener noreferrer"
	class=`
    ${Astro.props.class}
    rounded-lg border border-black/10 dark:border-white/10 
    inline-flex justify-center items-center gap-x-2 
    py-1 px-2  
    z-50
    text-xs lg:text-base
    bg-black/10 dark:bg-white/5 
    transition
    hover:scale-110 hover:bg-[#706295]/40 hover:dark:bg-white/10 hover
    `
>
	<slot />
</a>