---
interface Props {
	class?: string;
	id?: string;
	title?: string;
}
---

<section
	id={Astro.props.id}
	class=`w-full lg:w-[740px] mx-auto ${Astro.props.class}`
>
	<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <slot name="icon" />
		{Astro.props.title}
	</h2>
	<slot />
</section>
