---
import ExperienceItem from "./ExperienceItem.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface experience {
	title: string;
	description: string;
	link?: string;
    repo?: string;
	date: string;
}
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
	{
		(t("experience") as unknown as experience[]).map((experience) => (
			<li class="mb-10 ms-4">
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
